body {
    background-color: #fbfbf2;
    margin: 0;
    min-height: 100vh;

}

.header {
    background-color: #fff0fe;
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.items {
    margin-top: -2px;

    ul {
        list-style-type: none;
    }

    li {
        display: inline;
        margin-right: 30px;
        font-size: large;
        color: #d1b3c6;
    }

    a {
        text-decoration: none;
        color: inherit;
        padding: 10px;
        display: inline-block;
    }

    a:hover {
        color: #b99eaf;
        cursor: pointer;
    }
}

.main {
    padding-top: 65px;
    padding-bottom: 65px; 
    margin: 0; 
}

.container, .questions {
    background-color: #fff;
    width: 500px;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    font-size: medium;
}

.textCals {
    margin-left: 10px;
}

.entryContainer {
    display: flex;
    align-items: center;
}

.entryContainer button,
.buttonContainer button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    margin: 0 5px;
}

textarea#foodInput {
    width: 490px;
    height: 20px;
}

.reports {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-indent: 20px;
    }

    li {
        font-size: medium;
        margin: 10px 0;
    }
}

@media (max-width: 800px) {
    .container,
    .questions {
        width: 80%;
        margin-top: 15px;
    }

    textarea#foodInput {
        width: 140px;
        height: 20px;
    }

    .header {
        ul {
            margin-left: -20px;
        }

        li {
            font-size: large;
            margin-right: 10px;
        }
    }

    textarea#editTextArea {
        width: 330px;
    }

    .trackButton{
        margin-left: 10px;
    }
}

.entryContent {
    flex: 1;
    display: flex;
    align-items: center;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.entryContainer svg {
    width: 20px;
    height: 20px;
    fill: #333;
    background-color: none;
    border: none;
    box-shadow: none;
}

hr {
    display: block;
    height: 0.5px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

.dateHeader {
    font-style: italic;
    font-size: large;
    margin: 20px 0 0 0;
}

input {
    width: 210px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2px;
    border: 1px solid #f7f7f7;
}

.trackButton {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    width: 53px;
    color: #A9A9A9;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 2px 2px;
}

.questions{
    div{
        margin: 10px;
    }
}

.sub1_2{
    display: inline-block;
    margin-top: -20px;
}

.sub1{
    float: left;
    margin: 10px;
    width: 40%;
    text-align: left;
}

.sub2{
    float: right;
    margin: 10px;
    width: 40%;
    text-align: right;
}

.sub3{
    width: 100%;
    text-align: center;
    margin-top: -20px;
    text-align: center;
}