body {
    background-color: #fbfbf2;
    margin: 0; 
    padding: 0; 
}

.header {
    background-color: #fff0fe;
    width: 100%; 
    height: 80px;
    position: fixed; 
    top: 0;
    z-index: 1000; 
}

.items {
    margin-top: 20px; 

    ul {
        list-style-type: none;
    }
    
    li {
        display: inline; 
        margin-right: 30px;
        font-size: large;
        color: #d1b3c6;
    }

    a {
        text-decoration: none; 
        color: inherit;
        padding: 10px; 
        display: inline-block; 
    }
    
    a:hover {
        color: #b99eaf; 
        cursor: pointer; 
    }
}

.main {
    padding-top: 80px; 
}

.home {
    text-align: center;

    p {
        padding: 8px;
        margin-top: 2px;
        margin-bottom: 0;
    }
}

.container{
    background-color: #fff;
    width: 500px;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    font-size: medium;
}

.textCals{
    margin-left: 10px;
}

.entryContainer button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

textarea#foodInput {
    width: 490px; 
    height: 20px; 
}

.reports{
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-indent: 20px;
    }

    li {
        display: block;
        font-size: medium;
        margin: 10px 0;
    }
}

.entry-image {
    display: none; 
    max-width: 200px;
    margin-top: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-image {
    max-width: 90%;
    max-height: 80%;
    height: auto;
}

.modal-close-button {
    position: absolute; 
    top: 10px;
    right: 10px;
    background: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10000;
}

@media(max-width: 800px){
    .container{
        width: 330px;
        margin-top: 10px;
    }

    #home{
        margin-top: 20px;
    }
    textarea#foodInput {
        width: 320px; 
        height: 20px; 
    }

    textarea#editTextArea {
        width: 270px; 
        height: 80px; 
    }

    .header{
        li{
            margin-right: 5px;
            font-size: medium;
        }
        
    }
}

.entryContainer {
    display: flex;
    align-items: center;
}

.entryContent {
    flex: 1;
    display: flex;
    align-items: center;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.buttonContainer button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

.entryContainer svg {
    width: 20px;
    height: 20px;
    fill: #333; 
}

.buttonContainer button:hover svg {
    fill: #121212; 
}

